docker/node-red/flows.json
[
    {
        "id": "69b18e38.082798",
        "type": "tab",
        "label": "Weather",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4536aac3.df33f4",
        "type": "tab",
        "label": "Battery",
        "disabled": false,
        "info": ""
    },
    {
        "id": "458b0d6d.c14b74",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt",
        "broker": "http://mqtt",
        "port": "1883",
        "clientid": "node-red",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "a1eb307a.aaa778",
        "type": "mqtt in",
        "z": "69b18e38.082798",
        "name": "outside temp (59689)",
        "topic": "temp/59689",
        "qos": "0",
        "broker": "458b0d6d.c14b74",
        "x": 260,
        "y": 260,
        "wires": [
            [
                "d23e989e.f1ca5"
            ]
        ]
    },
    {
        "id": "674b0764.80c24",
        "type": "function",
        "z": "69b18e38.082798",
        "name": "construct object",
        "func": "var returnObject = {\n    payload: [{\n        dt:-1,\n        main:{\n            humidity: parseFloat(msg.payload[\"humid/59689\"]),\n            temp: parseFloat(msg.payload[\"temp/59689\"])\n        },\n        clouds:{},\n        weather:[{icon:\"01d\"}]\n    }]\n};\n\n\nvar k = Math.log(returnObject.payload[0].main.humidity/100) + (17.62 * returnObject.payload[0].main.temp) / (243.12 + returnObject.payload[0].main.temp);\nvar dewpoint = 243.12 * k / (17.62 - k);\n\nvar temperature_difference = returnObject.payload[0].main.temp - dewpoint;\nreturnObject.payload[0].clouds.all = 100 - temperature_difference;\n\nreturnObject.payload[0].weather[0].icon = \"09d\";\n\nif(msg.payload.clouds.all<95){\n    returnObject.payload[0].weather[0].icon = \"04d\";\n}\n\nif(msg.payload.clouds.all<70){\n    returnObject.payload[0].weather[0].icon = \"01d\";\n}\n\nreturn returnObject",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "8451a3b6.fbfbc",
        "type": "mqtt in",
        "z": "69b18e38.082798",
        "name": "outside humidity (59689)",
        "topic": "humid/59689",
        "qos": "0",
        "broker": "458b0d6d.c14b74",
        "x": 270,
        "y": 320,
        "wires": [
            [
                "d23e989e.f1ca5"
            ]
        ]
    },
    {
        "id": "d23e989e.f1ca5",
        "type": "join",
        "z": "69b18e38.082798",
        "name": "combine readings",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "10",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 570,
        "y": 300,
        "wires": [
            [
                "674b0764.80c24"
            ]
        ]
    },
    {
        "id": "29dd733a.fff6ec",
        "type": "inject",
        "z": "69b18e38.082798",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "900",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 250,
        "y": 500,
        "wires": [
            [
                "6cae1387.8fcd3c",
                "a42a2ac4.0453e"
            ]
        ]
    },
    {
        "id": "a42a2ac4.0453e",
        "type": "http request",
        "z": "69b18e38.082798",
        "name": "weather forecast",
        "method": "GET",
        "ret": "obj",
        "url": "http://api.openweathermap.org/data/2.5/forecast?q=wellen,be&units=metric&appid=db37c1952446b4763785ad4701db93d6",
        "tls": "",
        "x": 570,
        "y": 500,
        "wires": [
            [
                "cf6a2d4d.b86ca8"
            ]
        ]
    },
    {
        "id": "c5a8f22.605089",
        "type": "function",
        "z": "69b18e38.082798",
        "name": "enhance data",
        "func": "function sendMessage(item, index) {\n    var now = new Date();\n    var date = new Date(0);\n    date.setUTCSeconds(item.dt);\n    item.deltaHours = Date.hoursBetween(now, date);\n    item.date = date;\n    node.send({\"payload\":item});\n}\n\nDate.hoursBetween = function( date1, date2 ) {     \n    var one_hour=1000*60*60;    \n    return Math.round((date2.getTime() - date1.getTime())/one_hour); \n }\n \n msg.payload.forEach(sendMessage)\n ",
        "outputs": 1,
        "noerr": 0,
        "x": 1060,
        "y": 400,
        "wires": [
            [
                "c5b6f10a.9cad48"
            ]
        ]
    },
    {
        "id": "c5b6f10a.9cad48",
        "type": "function",
        "z": "69b18e38.082798",
        "name": "extract values",
        "func": "node.send(\n    {\n        timestamp: msg.payload.dt,\n        deltaHours: msg.payload.deltaHours,\n        payload: msg.payload.main.temp,\n        subject: \"temperature\"\n    }\n);\n\nnode.send(\n    {\n        timestamp: msg.payload.dt,\n        deltaHours: msg.payload.deltaHours,\n        payload:  msg.payload.main.humidity,\n        subject: \"humidity\"\n    }\n);\n\nnode.send(\n    {\n        timestamp: msg.payload.dt,\n        deltaHours: msg.payload.deltaHours,\n        payload:  (msg.payload.rain)?  msg.payload.rain[\"3h\"] || msg.payload.rain[\"1h\"] : 0,\n        subject: \"precipitation\"\n    }\n);\n\nnode.send(\n    {\n        timestamp: msg.payload.dt,\n        deltaHours: msg.payload.deltaHours,\n        payload: msg.payload.weather[0].icon,\n        subject: \"icon\"\n    }\n);\n\nvar k = Math.log(msg.payload.main.humidity/100) + (17.62 * msg.payload.main.temp) / (243.12 + msg.payload.main.temp);\nvar dewpoint = 243.12 * k / (17.62 - k);\n\nnode.send(\n    {\n        timestamp: msg.payload.dt,\n        deltaHours: msg.payload.deltaHours,\n        payload: dewpoint,\n        subject: \"dewpoint\"\n    }\n);\n\nnode.send(\n    {\n        timestamp: msg.payload.dt,\n        deltaHours: msg.payload.deltaHours,\n        date: msg.payload.date,\n        payload: new Date(msg.payload.date).toTimeString().substring(0,5),\n        subject: \"time\"\n    }\n);\n\nnode.send(\n    {\n        timestamp: msg.payload.dt,\n        deltaHours: msg.payload.deltaHours,\n        date: msg.payload.date,\n        payload: msg.payload.wind.speed,\n        subject: \"windSpeed\"\n    }\n);\n\nnode.send(\n    {\n        timestamp: msg.payload.dt,\n        deltaHours: msg.payload.deltaHours,\n        date: msg.payload.date,\n        payload: msg.payload.wind.deg,\n        subject: \"windDirection\"\n    }\n);",
        "outputs": 1,
        "noerr": 0,
        "x": 1340,
        "y": 400,
        "wires": [
            [
                "7d93b1bf.21ed48"
            ]
        ]
    },
    {
        "id": "c874b090.ac0e08",
        "type": "mqtt out",
        "z": "69b18e38.082798",
        "name": "MQTT",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "broker": "458b0d6d.c14b74",
        "x": 1790,
        "y": 400,
        "wires": []
    },
    {
        "id": "7d93b1bf.21ed48",
        "type": "function",
        "z": "69b18e38.082798",
        "name": "calculate topic",
        "func": "msg.topic = \"weather/actual/\"+msg.subject\nif(msg.deltaHours > 0){\n    msg.topic = msg.topic.replace(\"actual\", \"prediction/\" + Math.round((msg.deltaHours+1)/3)*3);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1600,
        "y": 400,
        "wires": [
            [
                "c874b090.ac0e08"
            ]
        ]
    },
    {
        "id": "6cae1387.8fcd3c",
        "type": "http request",
        "z": "69b18e38.082798",
        "name": "weather now",
        "method": "GET",
        "ret": "obj",
        "url": "http://api.openweathermap.org/data/2.5/weather?q=wellen,be&units=metric&appid=db37c1952446b4763785ad4701db93d6",
        "tls": "",
        "x": 550,
        "y": 580,
        "wires": [
            [
                "20db1b41.9d98b4"
            ]
        ]
    },
    {
        "id": "cf6a2d4d.b86ca8",
        "type": "change",
        "z": "69b18e38.082798",
        "name": "extract list",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.list",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 500,
        "wires": [
            [
                "c5a8f22.605089"
            ]
        ]
    },
    {
        "id": "20db1b41.9d98b4",
        "type": "function",
        "z": "69b18e38.082798",
        "name": "Create List",
        "func": "msg.payload = [msg.payload]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 580,
        "wires": [
            [
                "c5a8f22.605089"
            ]
        ]
    },
    {
        "id": "e9e22772.5fc42",
        "type": "mqtt in",
        "z": "4536aac3.df33f4",
        "name": "battery/3.3",
        "topic": "battery/3.3/+",
        "qos": "0",
        "broker": "458b0d6d.c14b74",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "5a82a9f6.7b973",
                "c2c264fb.ee47b"
            ]
        ]
    },
    {
        "id": "285b5c7a.dfef8c",
        "type": "switch",
        "z": "4536aac3.df33f4",
        "name": "low battery",
        "property": "payload.value2",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "2.6",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 610,
        "y": 160,
        "wires": [
            [
                "f63fc76a.5087"
            ]
        ]
    },
    {
        "id": "f63fc76a.5087",
        "type": "http request",
        "z": "4536aac3.df33f4",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "https://maker.ifttt.com/trigger/low_battery/with/key/c4-fhVHoamvYA3XXsTtMcNPp-H2755vlzHHhFxbnvxe",
        "tls": "",
        "x": 850,
        "y": 200,
        "wires": [
            [
                "939e75a3.19b628"
            ]
        ]
    },
    {
        "id": "939e75a3.19b628",
        "type": "debug",
        "z": "4536aac3.df33f4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1030,
        "y": 120,
        "wires": []
    },
    {
        "id": "c2c264fb.ee47b",
        "type": "function",
        "z": "4536aac3.df33f4",
        "name": "Add details to body",
        "func": "msg.payload = {\"value1\":msg.topic, \"value2\": msg.payload}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 200,
        "wires": [
            [
                "5c6b6b64.362c44",
                "285b5c7a.dfef8c",
                "9f3d305.4577cd"
            ]
        ]
    },
    {
        "id": "5c6b6b64.362c44",
        "type": "trigger",
        "z": "4536aac3.df33f4",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "25",
        "extend": true,
        "units": "min",
        "reset": "",
        "bytopic": "topic",
        "name": "Check heartbeat",
        "x": 600,
        "y": 240,
        "wires": [
            [
                "f63fc76a.5087"
            ]
        ]
    },
    {
        "id": "276d71b1.6d2b66",
        "type": "mqtt out",
        "z": "4536aac3.df33f4",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "true",
        "broker": "458b0d6d.c14b74",
        "x": 590,
        "y": 300,
        "wires": []
    },
    {
        "id": "5a82a9f6.7b973",
        "type": "change",
        "z": "4536aac3.df33f4",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "3.3",
                "fromt": "str",
                "to": "levels",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 300,
        "wires": [
            [
                "276d71b1.6d2b66"
            ]
        ]
    },
    {
        "id": "9f3d305.4577cd",
        "type": "http request",
        "z": "4536aac3.df33f4",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "https://maker.ifttt.com/trigger/battery_level/with/key/c4-fhVHoamvYA3XXsTtMcNPp-H2755vlzHHhFxbnvxe",
        "tls": "",
        "x": 610,
        "y": 80,
        "wires": [
            [
                "939e75a3.19b628"
            ]
        ]
    }
]
